<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<secureAppSettings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAgIilVGjbk0Kwdht71RLvbwQAAAACAAAAAAADZgAAwAAAABAAAAB/M16X+1Pk35fil+pJlfDqAAAAAASAAACgAAAAEAAAAIm52GJJBXFEkwZW4+E/qWmwAAAAnVU8p6i5GuSnOMKRreKLETd0LDsE7Lc9xowUzJfm12AGJjSPiqsVdZHggtNifkTfAAuSJjrHPvnlWCpQJOlxlb8j6kNfhZaqRj5P30KKN8ONSwGTBashBIeEy6pgV6O+6J797tcuidibUuSsy+dgIBoNtBw7wBa5SHB7hpc5uIRcMgJuKx5YOs5ObC+XEDVzsHeiNCBjCAhx2WchjTj9TE7kyBTUA1SxQ+nU7nk+HgoUAAAAG3DpwLSFCwJS2IspmlZbjiSpxE0=</CipherValue>
   </CipherData>
  </EncryptedData>
 </secureAppSettings>
</configuration>